body{
    --dark_primary:  #494949;
    background-color: var(--dark_primary);
    background-image: url("../img/index_bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}
header{
    font-size: 1vw;
    display: flex;
    --dark_secondary: #2D2D2D;
    background-color: var(--dark_secondary);
    vertical-align: middle;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    justify-content: space-between;
}
header > div{
    margin: auto 0;
}
.header-left,.header-center,.header-right{
    display: flex;
}
.header-left img{
    filter: invert(1);
    height: 5vh;
    padding: 2.5vh;
}
/* .right_white_border{
    border-right: 3px solid #4588ba
} */
.white_line{
    width: .1vw;
    height: 5vh;
    background-color: #cbcbcb;
    margin: auto
}
.header-center{
    padding-right: 20%;
}
.header-center img{
    height: 8vh;
    margin: auto .5vw auto auto;
}
header p{
    margin-top: auto;
    margin-bottom: auto;
    color : #fff;
}
.header-right > div{
    margin-right: 1vw;
    border-radius: .2vw;
    padding: 1vh 1vw;
    display: inherit;
}
.header-right #loginButton{
    background-color: #cec777;
}
.header-right #loginButton > p{
    font-weight: bolder;
}
.header-right #accountButton{
    background-color: #a3a3a3;
}
.header-right > div > img{
    height: 3vh;
    margin-right: .5vw;
}
.header-right > div > p{
    margin-top: auto;
    margin-bottom: auto;
    color: #2D2D2D;
}
