body{
    font-family: 'Montserrat', sans-serif;
    --fg-color: #fff; /**/
    --bg-color: #494949; /*#494949 = dark #f4f4f4 = light*/
    --bg2-color: #2D2D2D;
    --dark_icons: invert(1); /* 1 = dark, 0 = light */
    background-color: var(--bg-color);
    background-image: url("../img/index_bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    overflow-x: hidden;
}

button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 2vh 4vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    border-radius: .5vh;
}
button:hover{
    filter: brightness(1.1);
    color: pink;
}
input{
    border: none;
    padding: 2vh 4vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
}
html{
    height: 100%;
}
header{
    font-size: 1.2rem;
    display: flex;
    background-color: var(--bg2-color);
    vertical-align: middle;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    justify-content: space-between;
}
header > div{
    margin: auto 0;
}
.header-left,.header-center,.header-right{
    display: flex;
}
.header-left img{
    filter: var(--dark_icons);
    height: 3.5vh;
    padding: 2.5vh;
}
/* .right_white_border{
    border-right: 3px solid #4588ba
} */
.white_line{
    width: .1vw;
    height: 5vh;
    background-color: var(--fg-color);
    margin: auto
}
.header-center{
    padding-right: 4vw;
}
.header-center img{
    height: 6vh;
    margin: auto .5vw auto auto;
}
header p{
    margin-top: auto;
    margin-bottom: auto;
    color : var(--fg-color);
}
.header-right > div{
    margin-right: 1vw;
    border-radius: .2vw;
    padding: 1vh 1vw;
    display: inherit;
}
.header-right #loginButton{
    background-color: #cec777;
}
.header-right #loginButton > p{
    font-weight: bolder;
}
.header-right #accountButton{
    background-color: #a3a3a3;
}
.header-right > div > img{
    height: 3vh;
    margin-right: .5vw;
}
.header-right > div > p{
    margin-top: auto;
    margin-bottom: auto;
    color: var(--bg2-color);
}
/* tools (bottom left) */
.tools{
    background-color: #e2e2e2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 2vw;
    height: 11vh;
    position: fixed;
    bottom: 0;
    border-radius: 0 1vh 0 0;
}
.tools img{
    width: 4vh;
}
@media (max-width:850px){
    .header-left > div > p{
        display: none;
    }
    .header-center > p{
        display: none;
    }
    .header-left img{
        padding: 1vw;
    }
}

